{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="text-center">
                        <h3>Train List</h3>
                    </div>
                </div>

                <div class="box-body">

                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label"> Train Line</label>
                        </div>

                        <div class="col-md-3">
                            <select onchange="fetchTrainsOfLine()" id="trainLine" class="form-control">
                                {% for trainLine in trainLines %}
                                    <option value="{{ trainLine.getId() }}" >{{ trainLine.getName() }}</option>
                                {% endfor %}
                            </select>
                        </div>


                    </div>

                    <div class="row" id="data_row">
                        <table class="table">
                            <thead>
                            <tr>

                                <th>Name</th>
                                <th>Start Station</th>
                                <th>End Station</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Connection Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for train in trains %}
                                <tr>
                                    <td>{{ train.getTrainName() }}</td>
                                    <td>{{ train.startStation.name }}</td>
                                    <td>{{ train.endStation.name }}</td>
                                    <td>{{ train.getStartTime().format('H:i') }}</td>
                                    <td>{{ train.getEndTime().format('H:i') }}</td>
                                    {% if train.getUser().getIsConnected() %}
                                        <td><span class="label label-success">Connected</span></td>
                                    {% else %}
                                        <td><span class="label label-danger">Disconnected</span></td>
                                    {% endif %}
                                    <td><a  type="button"  class="btn btn-success" href="{{ url('dashboard_train_configure',{'id':train.getId()}) }}"><span class="glyphicon glyphicon-list-alt"></span> Edit</a></td>
                                </tr>
                            {%endfor%}

                            </tbody>

                        </table>
                    </div>


                </div>
                {#<div class="box-footer" style="text-align: right">#}
                {##}
                {#</div>#}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {
            // fetchTrainsOfLine();

        });

        function fetchTrainsOfLine(){
            var path = "{{ path('dashboard_train_list_ajax_load_data') }}";
            var jsondata=JSON.stringify({line:$('#trainLine').val()});
//            $('.loader').show();
            $.ajax({
                type: "POST",
                url: path,
                dataType: "json",
                data: {data:jsondata},
                success : function(response)
                {
//                    $('.loader').hide();
                    var innerHtml='<table class="table"> <thead><tr><th>Name</th><th>Start Station</th><th>End Station</th><th>Start Time</th><th>End Time</th><th>Connection Status</th><th></th></tr></thead><tbody>';

                    for(var i=0;i<response.length;i++){
                        innerHtml=innerHtml+'<tr>';
                        innerHtml=innerHtml+'<td>'+response[i].name+'</td>'+'<td>'+response[i].startStation+'</td>'+'<td>'+response[i].endStation+'</td>'+'<td>'+response[i].startTime+'</td>'+'<td>'+response[i].endTime+'</td>'+'<td>'+response[i].connected+'</td>';

                        innerHtml=innerHtml+'<td><a type="button" class="btn btn-success" href="PLACEHO##LDER"><span class="glyphicon glyphicon-list-alt"></span> Edit</a></td>';

                        innerHtml=innerHtml+'<tr>';
                        var vRoute = "{{ path('dashboard_train_configure', { 'id': "vPLACEHOLDER" }) }}";
                        vRoute=vRoute.replace("vPLACEHOLDER", response[i].id);
                        innerHtml=innerHtml.replace("PLACEHO##LDER",vRoute);
                    }

                    innerHtml=innerHtml+'</tbody></table>';
                    $('#data_row').html(innerHtml);

                }
            });
        }



    </script>
{% endblock %}
