{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="text-center">
                        <h3>Train Configure</h3>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% if errors is not empty %}
                        <div class="alert alert-danger alert-tastyy">
                            {% for error in errors %}
                                <label>{{ error }}</label>
                            {% endfor %}

                        </div>
                    {% endif %}
                    <div class="box-body">
                        {{ form_start(form) }}

                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-xl-2 col-xs-4 hidden-xs" style="padding-right: 70px;padding-top: 5px; padding-bottom: 10px">
                                <h2 class="panel-title" style="margin: 0px !important;">
                                    {{ form_label(form.trainName) }}
                                </h2>
                            </div>
                            <div class="col-md-5 col-lg-5 col-xl-5 col-xs-4" style="padding-right: 0px; padding-bottom: 10px">
                                <div class="form-group">
                                    {{ form_widget(form.trainName, { 'attr': {'class': 'form-control','placeholder':'Name'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-xl-2 col-xs-4 hidden-xs" style="padding-right: 70px;padding-top: 5px; padding-bottom: 10px">
                                <h2 class="panel-title" style="margin: 0px !important;">
                                    <label class="required">Train Line</label>
                                </h2>
                            </div>
                            <div class="col-md-5 col-lg-5 col-xl-5 col-xs-4" style="padding-right: 0px; padding-bottom: 10px">
                                <div class="form-group">
                                    {{ form_widget(form.trainLines, { 'attr': {'class': 'form-control select2'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-xl-2 col-xs-4 hidden-xs" style="padding-right: 70px;padding-top: 5px; padding-bottom: 10px">
                                <h2 class="panel-title" style="margin: 0px !important;">
                                    {{ form_label(form.startStation) }}
                                </h2>
                            </div>
                            <div class="col-md-5 col-lg-5 col-xl-5 col-xs-4" style="padding-right: 0px; padding-bottom: 10px">
                                <div class="form-group">
                                    {{ form_widget(form.startStation, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-xl-2 col-xs-4 hidden-xs" style="padding-right: 70px;padding-top: 5px; padding-bottom: 10px">
                                <h2 class="panel-title" style="margin: 0px !important;">
                                    {{ form_label(form.endStation) }}
                                </h2>
                            </div>
                            <div class="col-md-5 col-lg-5 col-xl-5 col-xs-4" style="padding-right: 0px; padding-bottom: 10px">
                                <div class="form-group">
                                    {{ form_widget(form.endStation, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-xl-2 col-xs-4 hidden-xs" style="padding-right: 70px;padding-top: 5px; padding-bottom: 10px">
                                <h2 class="panel-title" style="margin: 0px !important;">
                                    {{ form_label(form.startTime) }}
                                </h2>
                            </div>
                            <div class="col-md-5 col-lg-5 col-xl-5 col-xs-4" style="padding-right: 0px; padding-bottom: 10px">
                                <div class="form-group">
                                    {{ form_widget(form.startTime) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-xl-2 col-xs-4 hidden-xs" style="padding-right: 70px;padding-top: 5px; padding-bottom: 10px">
                                <h2 class="panel-title" style="margin: 0px !important;">
                                    {{ form_label(form.endTime) }}
                                </h2>
                            </div>
                            <div class="col-md-5 col-lg-5 col-xl-5 col-xs-4" style="padding-right: 0px; padding-bottom: 10px">
                                <div class="form-group">
                                    {{ form_widget(form.endTime) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-xl-2 col-xs-4 hidden-xs" style="padding-right: 70px;padding-top: 5px; padding-bottom: 10px">
                                <h2 class="panel-title" style="margin: 0px !important;">
                                    <label class="required">Available Days</label>
                                </h2>
                            </div>
                            <div class="col-md-5 col-lg-5 col-xl-5 col-xs-4" style="padding-right: 0px; padding-bottom: 10px">
                                <div class="form-group">
                                    {{ form_widget(form.availableDays, { 'attr': {'class': 'form-control select2'} }) }}
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="box-footer" style="text-align: right">
                        <a class="btn btn-default" href="{{ url('dashboard_home') }}">Cancel</a>
                        {{ form_widget(form.save,{ 'attr': {'class': 'btn btn-success'}}) }}
                        {{ form_end(form) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}


        {#<script>#}
            {#jQuery(document).ready(function() {#}
                {#$('.datepicker').datepicker({#}
                    {#autoclose:true,#}
                    {#endDate:'0d'#}
                {#});#}
            {#});#}
        {#</script>#}


{% endblock %}